@import url(http://fonts.googleapis.com/css?family=Neuton:200,400,400italic);html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,input,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;margin:0;padding:0;vertical-align:baseline}html{font-size:100%}body{background-color:#fff;line-height:1}body,input,select,textarea,.footer-widgets-1,.footer-widgets-2,.footer-widgets-3{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}body.admin-bar{}a,a:visited,button,input[type="button"],input[type="submit"],.btn{-moz-transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}::-moz-selection{background-color:#1e1e1e;color:#fff}::selection{color:#fff}a
img{border:none}a:hover,
body,
h2 a,
h2 a:visited,
h4.widgettitle a,
input,
.author,
.date,
.genesis-nav-menu a,
.genesis-nav-menu li li a,
.genesis-nav-menu li li a:link,
.genesis-nav-menu li li a:visited,
.post-comments,
#title a,
#title a:hover{color:#666}a,
h2 a:hover,
.genesis-nav-menu li a:hover,
.genesis-nav-menu li:hover a,
.genesis-nav-menu li li a:hover,
.genesis-nav-menu .current-menu-item
a{color:#666}.post-info,.post-meta,#description{color:#636363}blockquote::before,
blockquote p,input,select,textarea{color:#999}button,
input[type="button"],
input[type="submit"],
.btn,
.genesis-nav-menu .highlight-menu-item a,
.genesis-nav-menu .highlight-menu-item a:hover,
.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation
li.disabled{color:#fff}.home #header a,
.single-portfolio #header
a{color:#fff}.theme-blue a:hover{color:#0071A5}.theme-green a:hover{color:#A7CD2C}body,
input,
textarea,
.author-box
h1{font-family:'Neuton',serif}h1,
h2,
h3,
h4,
h5,
h6,
.entry-title a,#title{font-family:'Neuton',serif}body,
input,
textarea,
.author-box
h1{font-size:14px;font-size:0.875rem}#title{font-size:18px;font-size:1.125rem}h1,
.entry-title,
.entry-title
a{font-size:36px;font-size:2.25rem}blockquote::before{font-size:32px;font-size:2rem}h2,h2.entry-title{font-size:24px;font-size:1.5rem}h3,
#content .category .entry-title{font-size:21px;font-size:1.3rem}h4,.widgettitle{font-size:18px;font-size:1.125rem}h5{font-size:16px;font-size:1rem}h6,
.author-box h1,
.sidebar h2
a{font-size:14px;font-size:0.875rem}input,select,textarea,.genesis-nav-menu{font-size:14px;font-size:0.875rem}.genesis-nav-menu{line-height:1.6}.post-info,.post-meta,.wp-caption{font-size:11px;font-size:0.6875rem}#footer
p{font-size:12px;font-size:0.75rem}blockquote
p{font-style:italic}cite{font-style:normal}button,
input[type="button"],
input[type="submit"],
h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.entry-title a,
.genesis-nav-menu,
.post-comments,
.post-info .author,
.post-info .date,
.wp-caption,
#footer p,#title{}h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.entry-title a,.genesis-nav-menu,#title{font-weight:300}.wp-caption{text-align:center}h2 a,
h2 a:visited,
.navigation li a,
.widgettitle a,
#title a,
.post-info a,
.post-meta
a{text-decoration:none}h2.entry-title{}.genesis-nav-menu
a{font-weight:200;text-decoration:none;text-transform:uppercase}#content .category .entry-title{font-weight:200}h4.widgettitle{text-transform:uppercase;font-size:12px;font-size:0.75rem}#wrap{margin:0
auto;max-width:960px}#inner{clear:both;overflow:hidden}.home
#header{margin:6.75% auto 0;max-width:960px;min-height:0}.home
#wrap{margin:0;max-width:inherit;background-color:rgba(0,0,0,0.5)}.home #header
#title{padding:0
20px 0 56px;padding:0
1.25rem 0 3.5rem}.home .genesis-nav-menu
a{padding:0
20px;padding:0
1.25rem;line-height:1.5}.home
#inner{display:none;visibility:hidden}#sidebar-alt{width:20.2083333%;margin-right:64px;margin-right:4rem}#title-area{width:auto}.footer-widgets-1,.footer-widgets-2,.footer-widgets-3,.sidebar{width:20.2083333%}.content-sidebar-sidebar .sidebar,
.sidebar-content-sidebar .sidebar,
.sidebar-sidebar-content
.sidebar{width:28.115942%}.content-sidebar-sidebar #content,
.sidebar-content-sidebar #content,
.sidebar-sidebar-content
#content{width:51.0144927%;padding-left:64px;padding-left:4rem;padding-right:64px;padding-right:4rem;margin-top:76px;margin-top:4.75rem;background-color:rgba(255, 255, 255, 0.9)}.content-sidebar #content,
.sidebar-content
#content{width:71.875%;padding-left:64px;padding-left:4rem}.content-sidebar-sidebar #content-sidebar-wrap,
.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap{width:71.875%}#content .category .entry-content{width:59.7101449%}#content .category .post-info,
#content .category .entry-title,
#content .category .post-meta,
#content .category-blog .entry-title,
#content .category-blog-es .entry-title{width:28.1567489%}#content .category-blog .entry-content,
#content .category-blog-es .entry-content{}#content .category-blog .entry-title,
#content .category-blog-es .entry-title{clear:both;float:left;margin-right:1rem}.content-sidebar #content-sidebar-wrap,
.full-width-content #content,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap{width:100%}.footer-widgets-1,
.footer-widgets-2,
.sidebar-content #sidebar,
.sidebar-sidebar-content #sidebar,
#content,
#content .category .entry-title,
#content-sidebar-wrap,
#footer .gototop,
#sidebar-alt,
#title-area,
#header .widget-area{float:left}.content-sidebar-sidebar #sidebar-alt,
.footer-widgets-3,
.sidebar,
.sidebar-content #content,
.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content,
.sidebar-sidebar-content #content-sidebar-wrap,
#footer
.creds{float:right}#header{min-height:64px;overflow:hidden}#title{line-height:1.1;padding:24px
20px 24px 64px;padding:1.5rem 1.25rem 1.5rem 4rem}#title a:after{content:"~";margin-left:32px;margin-left:2rem}.header-image
#title{margin:0}#description{display:none;visibility:hidden;line-height:1.25}.header-full-width #title,
.header-full-width #title a,
.header-full-width #title-area{width:100%}.header-image #title,
.header-image #title a,
.header-image #title-area{display:block;float:left;min-height:120px;overflow:hidden;text-indent:-9999px;width:50%}.header-image
#description{display:block;overflow:hidden}#content{padding-bottom:40px;padding-bottom:2.5rem}.entry,
.page
.post.entry{margin-bottom:16px;margin-bottom:1rem;padding-bottom:64px;padding-bottom:4rem}.type-post{border-bottom:1px dotted #B5B5B5}.entry-title{}.single
.entry{margin-bottom:48px;margin-bottom:3rem}.page
.entry{margin:0}.entry-content{overflow:hidden}.entry-content,
.entry-content
p{line-height:1.25}.entry-content
p{margin-bottom:18px;margin-bottom:1.125rem}blockquote{padding:24px
64px;padding:1.5rem 4rem}blockquote::before{content:"“";display:block;height:0;left:-20px;position:relative;top:-10px}.post-info,.post-meta{clear:both;float:left;line-height:1.5;width:194px}.post-info{position:absolute}.post-comments{background:url(/wp-content/themes/studio/images/post-comments.png) no-repeat center left;margin-left:16px;margin-left:1rem;padding-left:20px;padding-left:1.25rem}.post-meta{position:relative}.categories,.tags{display:block}.category-conferences .post-info,
.category-conferences .post-meta,
.category-publications .post-info,
.category-publications .post-meta,
.category-conferencias .post-info,
.category-conferencias .post-meta,
.category-publicaciones .post-info,
.category-publicaciones .post-meta,
.category-shows .post-info,
.category-shows .post-meta{display:none;visibility:hidden}.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds{float:left;margin-left:4.166666666%}.one-half,.three-sixths,.two-fourths{width:47.9166666666%}.one-third,.two-sixths{width:30.555555555%}.four-sixths,.two-thirds{width:65.277777777%}.one-fourth{width:21.875%}.three-fourths{width:73.958333333%}.one-fifth{width:16.666666666%}.two-fifths{width:37.5%}.three-fifths{width:58.333333333%}.four-fifths{width:79.166666666%}.one-sixth{width:13.194444444%}.five-sixths{width:82.638888888%}.first{margin-left:0}p.subscribe-to-comments{padding:24px
0 16px;padding:1.5rem 0 1rem}p.pages,.clear,.clear-line,.first{clear:both}.clear-line{border-bottom:1px solid #ccc;margin-bottom:26px;margin-bottom:1.625rem}.alignleft,.archive-page{float:left}.alignright{float:right}.archive-page{width:50%}.author-box,.sticky{margin-bottom:80px;margin-bottom:5rem}.author-box,
.author-box h1,.taxonomy-description{line-height:1.5}.author-box,.breadcrumb,.sticky,.taxonomy-description{border-bottom:1px dotted #B5B5B5;margin-bottom:12px;margin-bottom:0.75rem;overflow:hidden;padding-bottom:32px;padding-bottom:2rem}.genesis-nav-menu{clear:both;overflow:hidden}#header .genesis-nav-menu{}.genesis-nav-menu.menu-primary,.genesis-nav-menu.menu-secondary{}.genesis-nav-menu
ul{float:left}.genesis-nav-menu
li{display:inline-block;float:left;list-style-type:none}.genesis-nav-menu
a{display:block;padding:24px
20px;padding:1.5rem 1.25rem;position:relative}.genesis-nav-menu li.highlight-menu-item{margin-left:20px;margin-left:1.25rem}.genesis-nav-menu .highlight-menu-item
a{}.genesis-nav-menu .highlight-menu-item a:hover{}.genesis-nav-menu li li a,
.genesis-nav-menu li li a:link,
.genesis-nav-menu li li a:visited{padding:20px;padding:1.25rem;position:relative;width:170px}.genesis-nav-menu li
ul{left:-9999px;position:absolute;z-index:99}.genesis-nav-menu li ul
ul{margin:-55px 0 0 211px}.genesis-nav-menu li:hover ul ul,
.genesis-nav-menu li.sfHover ul
ul{left:-9999px}.genesis-nav-menu li:hover,
.genesis-nav-menu
li.sfHover{position:static}ul.genesis-nav-menu li:hover>ul,
ul.genesis-nav-menu li.sfHover ul,
#header .genesis-nav-menu li:hover>ul,
#header .genesis-nav-menu li.sfHover
ul{}.genesis-nav-menu li a .sf-sub-indicator,
.genesis-nav-menu li li a .sf-sub-indicator,
.genesis-nav-menu li li li a .sf-sub-indicator{position:absolute;text-indent:-9999px}#wpadminbar li:hover ul
ul{left:0}.full-width-content .genesis-nav-menu li
ul{background-color:rgba(0,0,0,0.5);color:#fff;padding-bottom: .9rem;left:0;overflow:hidden;width:100%}.full-width-content .genesis-nav-menu li:hover
ul{}.full-width-content .genesis-nav-menu current-menu-item:target
ul.submenu{height:200px}.full-width-content .genesis-nav-menu li
li{clear:both;width:100%}.full-width-content .genesis-nav-menu li li a,
.full-width-content .genesis-nav-menu li li a:link,
.full-width-content .genesis-nav-menu li li a:visited{border:none;padding:0}.genesis-nav-menu
li.right{float:right;padding:24px
20px;padding:1.5rem 1.25rem}.genesis-nav-menu li.right
a{display:inline;padding:0}.genesis-nav-menu
li.search{padding:6px
0 0;padding:0.375rem 0 0}.genesis-nav-menu li.rss
a{background:url(/wp-content/themes/studio/images/rss.png) no-repeat center left;margin-left:20px;margin-left:1.25rem;padding-left:20px;padding-left:1.25rem}.genesis-nav-menu li.twitter
a{background:url(/wp-content/themes/studio/images/twitter-nav.png) no-repeat center left;padding-left:24px;padding-left:1.5rem}h1,
h2,
h3,
h4,
h5,
h6,
.entry-title
a{line-height:1.2;margin-bottom:16px;margin-bottom:1rem;margin-top:16px;margin-top:1rem}.author-box
h1{margin:0}.taxonomy-description
h1{margin-bottom:4px;margin-bottom:0.25rem}.archive-title{margin-bottom:24px;margin-bottom:1.5rem}.entry-content ol,
.entry-content
ul{margin-bottom:26px;margin-bottom:1.625rem}.entry-content ol li,
.entry-content ul
li{line-height:1.625}.entry-content ol li,
.entry-content ul
li{margin-left:40px;margin-left:2.5rem}.entry-content ol
li{list-style-type:decimal}.entry-content ul
li{list-style-type:disc}.entry-content ol ol,
.entry-content ul
ul{margin-bottom:0}.navigation
li{display:inline}.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation
li.disabled{background-color:#1e1e1e;border-radius:3px;cursor:pointer;padding:12px;padding:0.75rem}.navigation li a:hover,
.navigation li.active
a{background-color:#ff2a00}#comments,#respond{line-height:1.5;overflow:hidden}.ping-list,#comments{margin-bottom:48px;margin-bottom:3rem}#author,#email,#url{width:50%}.commentmetadata,#author,#email,#url{margin-bottom:12px;margin-bottom:0.75rem}#comment{margin:12px
0;margin:0.75rem 0}label{margin-left:12px;margin-left:0.75rem}.comment-list li,
.ping-list
li{list-style-type:none;margin-top:24px;margin-top:1.5rem;padding:32px;padding:2rem}.comment-list li ul
li{margin-right:-32px;margin-right:-2rem}.comment-header{overflow:hidden}.comment{background-color:#f5f5f5;border:2px
solid #fff;border-right:none}.comment-content
p{margin-bottom:24px;margin-bottom:1.5rem}.bypostauthor{}#comments
.navigation{margin-top:32px;margin-top:2rem}.sidebar{display:inline;line-height:1.5}.sidebar
p{margin-bottom:16px;margin-bottom:1rem}.sidebar
.widget{margin-bottom:32px;margin-bottom:2rem;overflow:hidden}.sidebar.widget-area ul
li{list-style-type:none;word-wrap:break-word}.page
.sidebar{margin-top:596px;margin-top:37.25rem}#footer{clear:both}#footer
.wrap{overflow:hidden;padding:0;padding:0;height:640px;height:40rem}#footer
.creds{text-align:right}#footer .creds,
#footer
.gototop{margin:65% 0 0 0}.footer-widgets{border-top:1px solid #666;clear:both;line-height:1.5;overflow:hidden;padding:32px
0 16px;padding:2rem 0 1rem}.footer-widgets
p{margin-bottom:16px;margin-bottom:1rem}.footer-widgets
.widget{margin-bottom:24px;margin-bottom:1.5rem}.footer-widgets .widget-area ul
li{list-style-type:none;margin-bottom:6px;margin-bottom:0.375rem;word-wrap:break-word}.footer-widgets-1{margin-right:4.166666666%}input,select,textarea{background-color:#fff;border:1px
solid #ddd;border-radius:3px;box-shadow:0 0 5px #ddd inset;padding:16px;padding:1rem;width:100%}#header .search-form{float:right;margin-top:56px;margin-top:3.5rem;width:100%}button,input[type="button"],input[type="submit"],.btn{background-color:#1e1e1e;border:none;box-shadow:none;cursor:pointer;padding:16px
24px;padding:1rem 1.5rem;width:auto}button:hover,input:hover[type="button"],input:hover[type="submit"],.btn:hover{background-color:#ff2a00}.enews input[type="submit"],
.search-form input[type="submit"]{border:0;clip:rect(0, 0, 0, 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}#content div.gform_wrapper input,
#content div.gform_wrapper select,
#content div.gform_wrapper textarea,
#content div.gform_wrapper .ginput_complex
label{font-size:16px;font-size:1rem;padding:16px;padding:1rem}#content div.gform_wrapper input[type="submit"]{padding:16px
24px;padding:1rem 1.5rem}#content div.gform_wrapper .ginput_complex
label{padding:0}div.gform_wrapper li,
div.gform_wrapper form
li{margin:16px
0 0;margin:1rem 0 0}embed,img,object,video{max-width:100%}img{height:auto}.alignleft
.avatar{margin-right:24px;margin-right:1.5rem}.alignright
.avatar{margin-left:24px;margin-left:1.5rem}.author-box
.avatar{float:left;margin-right:24px;margin-right:1.5rem}.comment-list li
.avatar{float:left;margin:0
16px 24px 0;margin:0
1rem 1.5rem 0}img.centered,.aligncenter{display:block;margin:0
auto 24px;margin:0
auto 1.5rem}img.alignnone{display:inline;margin-bottom:12px;margin-bottom:0.75rem}img.alignleft,.post-image,.wp-caption.alignleft{display:inline;margin:0
24px 24px 0;margin:0
1.5rem 1.5rem 0}img.alignright,.wp-caption.alignright{display:inline;margin:0
0 24px 24px;margin:0
0 1.5rem 1.5rem}p.wp-caption-text{line-height:1.2;margin-top:12px;margin-top:0.75rem}.gallery-caption{}@media only screen and (max-width: 1024px){#wrap{max-width:960px}}@media only screen and (max-width: 768px){#wrap{padding:0}#inner{}.content-sidebar #content,
.content-sidebar-sidebar #content,
.sidebar-content-sidebar #content,
.sidebar-sidebar-content #content,
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.wrap, #inner,
.sidebar-content #content,  #wrap #content-sidebar-wrap,
#wrap #sidebar-alt{width:98%;padding:0
1%;margin-top:0}#content .category-blog .entry-title,
#content .category-blog-es .entry-title,
#content .category-blog .post-info,
#content .category-blog-es .post-info,
#content .category-blog .post-meta,
#content .category-blog-es .post-meta,
#wrap
.sidebar{padding:0;width:100%}#content .category-blog .entry-title,
#content .category-blog .post-info,
#content .category-blog .post-meta,
#content .category-blog-es .entry-title,
#content .category-blog-es .post-info,
#content .category-blog-es .post-meta, .genesis-nav-menu li, #header .search-form{float:none;position:relative}h1,
h2,
h3,
h4,
h5,
h6,
.entry-title
a{margin-top:0;margin-bottom:0}#content .category-blog .entry-content,
#content .category-blog-es .entry-content{margin-top:24px;margin-top:1.5rem}.page
.sidebar{margin-top:0}#content-sidebar-wrap
#content{padding:0
4% 8% 4%;width:92%}#sidebar-alt{margin-right:0}.genesis-nav-menu
a{padding:20px
16px;padding:1.25rem 1rem}#title{}#header .search-form{margin:32px
auto 0;margin:2rem auto 0;width:50%}.genesis-nav-menu
li.right{display:none}.widget_page_in_widget{text-align:left !important}#footer
.wrap{padding:24px
0;padding:1.5rem 0}#footer .creds,
#footer
.gototop{margin-top:90%}.footer-widgets-1,
#header .genesis-nav-menu{margin:0}}@media only screen and (max-width: 480px){html{font-size:87.5%}blockquote{padding:24px;padding:1.5rem}#content .category .post-info,
#content .category .entry-title,
#content .category .post-meta,
#header .widget-area,
#header .search-form,#title-area{width:100%}#title{padding:24px
20px 24px 20px;padding:1.5rem 1.25rem 1.5rem 1.25rem}.archive-page,.five-sixths,.four-fifths,.four-sixths,.one-fifth,.one-fourth,.one-half,.one-sixth,.one-third,.three-fifths,.three-fourths,.three-sixths,.two-fifths,.two-fourths,.two-sixths,.two-thirds{margin:0;width:100%}.home
#header{margin-top:0}.home #header
#title{padding:24px;padding:1.5rem}#title a:after{content:"";margin-left:0}.home .sub-menu
li{padding-left:0 !important}.genesis-nav-menu li li a,
.genesis-nav-menu li li a:link,
.genesis-nav-menu li li a:visited{width:100% !important}.genesis-nav-menu,
#description,
#footer .creds,
#footer .gototop,
#header .search-form,#title,#title-area{text-align:center}#footer .creds,
#footer
.gototop{margin-top:95%}}.category-conferences .entry-title a,
.category-publications .entry-title a,
.category-conferencias .entry-title a,
.category-publicaciones .entry-title a,
.category-shows .entry-title
a{font-size:21px;font-size:1.3rem;font-style:italic;line-height:1;margin-bottom:0}.category-conferences .entry-content h2,
.category-publications .entry-content h2,
.category-conferencias .entry-content h2,
.category-publicaciones .entry-content h2,
.category-shows .entry-content
h2{font-size:14px;font-size: .875rem;line-height:1;margin-bottom:0;text-transform:uppercase}.sidebar,
.sidebar
p{font-size:12px;font-size:0.75rem;line-height:14px;line-height:0.875rem;margin-bottom:12px;margin-bottom:0.75rem}.sidebar
a{text-decoration:none}[id*='menu-sidebar'],#menu-sidebar,#menu-jobs,#menu-sidebar-spanish,#menu-jobs-spanish{border-bottom:1px dotted #B5B5B5;font-size:14px;font-size:0.875rem;text-transform:uppercase}[id*='menu-sidebar'] li,
#menu-sidebar li,
#menu-jobs li,
#menu-sidebar-spanish li,
#menu-jobs-spanish
li{line-height:21px;line-height:1.315rem}#inner .widget_nav_menu .menu>li{border-top:1px solid #666}.sidebar .widget_nav_menu .sub-menu li:before{content:"» "}.sub-menu
li{border-top:1px dotted #B5B5B5;text-transform:none}.page #sidebar
.widget_page_in_widget{text-align:right}.widget_page_in_widget{font-size:14px;font-size:0.875rem}.widget_page_in_widget
h4.widgettitle{font-size:24px;font-size:1.5rem;margin-top:0;text-transform:capitalize}.widget_page_in_widget
li{border-bottom:1px dotted #B5B5B5;border-top:none;line-height:21px;line-height:1.315rem}.widget_page_in_widget .menu>li{border-top:none !important;border-bottom:none;margin-top:21px;margin-top:1.3125rem}.widget_page_in_widget .sub-menu{border-top:1px solid #666}.studio{background:url(/wp-content/themes/studio/images/TeresaMoller_studio-header.jpg) top center no-repeat}.studio
#footer{background:url(/wp-content/themes/studio/images/TeresaMoller_studio-footer.jpg) bottom center no-repeat}.team{background:url(/wp-content/themes/studio/images/TeresaMoller_team-header.jpg) top center no-repeat}.team
#footer{background:url(/wp-content/themes/studio/images/TeresaMoller_team-footer.jpg) bottom center no-repeat}.tag  #footer,
.category-blog  #footer,
.category-blog-es #footer,
.single-post
#footer{background:url(/wp-content/themes/studio/images/TeresaMoller_blog-footer.jpg) bottom center no-repeat}.category-publications  #footer,
.category-conferences  #footer,
.category-publicaciones #footer,
.category-conferencias
#footer{background:url(/wp-content/themes/studio/images/TeresaMoller_media-footer.jpg) bottom center no-repeat}#infscr-loading{text-align:center}#infscr-loading
img{margin:16px
auto;margin:1rem auto}.history-back-wrap{float:left;position:fixed;top:20px;top:1.25rem}.back-top-wrap{float:left;position:fixed;top:94%}.slideshow-window{-webkit-box-shadow:inset 0px 0px 16px 0px rgba(100, 100, 100, .3);box-shadow:inset 0px 0px 16px 0px rgba(100, 100, 100, .3);background-color:#EFEFEF !important;border:none !important;-webkit-border-radius:4px !important;border-radius:4px !important}.gallery-item
img{border:none !important}.category-publications .gallery,
.category-publicaciones
.gallery{float:right}.single-portfolio
#header{background-color:rgba(0,0,0,0.5)}#loading{background:#222 url(/wp-content/themes/studio/images/loading.gif) no-repeat center center;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}.gallery{width:100%;height:100%}.gallery .gallery-item{box-shadow:1px 1px 20px #000;position:relative;overflow:hidden;width:100%;height:100%}.gallery .gallery-item.fixed{position:fixed;top:0;left:0;z-index:0}.entry-content>a{display:none}.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}.clear{clear:both}.paintitblack{background-color:rgba(0,0,0,0.5)}.paintitblack,
.paintitblack
a{color:#fff}.home .sub-menu
li{border-top:1px dotted #B5B5B5;text-transform:none;padding-left:33.3%}.single-portfolio .entry-title{color:#fff;left:36px;font-size:26px;font-weight:100;margin:0;padding:0;position:fixed;z-index:999;top:0}.single-portfolio
#inner{position:fixed;top:0;width:100%}.single-portfolio
.entry{border-bottom:1px solid white;padding-bottom:31px;margin-bottom:0}.single-portfolio
#content{padding-bottom:0}.single-portfolio
#title{padding-top:36px;padding-left:36px;padding-bottom: .3rem}.single-portfolio .genesis-nav-menu
a{padding-top:36px;padding-bottom: .3rem}.single-portfolio .sub-menu
li{padding-left:16%}html.loading-portfolio{height:100% !important;overflow:hidden}.frontpage #loading-portfolio{background:white url(/wp-content/themes/studio/images/loading.gif) no-repeat center center;position:absolute;top:0;left:0;width:100%;height:100%;z-index:1000}.frontpage a:link{color:white}.frontpage
.portfolio_images{width:100%;height:100%}.frontpage .portfolio_images
.portfolio_image{box-shadow:1px 1px 20px #000;position:relative;overflow:hidden;width:100%;height:100%}.frontpage .portfolio_images
.portfolio_image.fixed{position:fixed;top:0;left:0;z-index:0}#icl_lang_sel_widget{position:absolute;top:0;right:0;z-index:10000}#icl_lang_sel_widget
ul{list-style:none}#lang_sel_list
li{float:left;margin-right:8px;font-weight:200;padding:8px
0;padding: .5rem 0}#lang_sel_list
a{text-decoration:none}